# Server configuration
#
# PORT: The port your Express server will listen on. Default is 5000 if not provided.
PORT=

# MongoDB configuration
#
# MONGODB_URI: Connection string for your MongoDB instance.
# Example (Local MongoDB): mongodb://127.0.0.1:27017/bustbrain
# Example (MongoDB Atlas): mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/bustbrain?retryWrites=true&w=majority
MONGODB_URI=

# Airtable OAuth
#
# These will be used in a future OAuth flow implementation.
AIRTABLE_CLIENT_ID=
AIRTABLE_CLIENT_SECRET=
AIRTABLE_REDIRECT_URI=
